.env
.idea
config/apache2/*
config/conf.d/*
logs/apache2/*
logs/elasticsearch/*
logs/mysql/*
logs/redis/*
!config/apache2/default.conf
!config/conf.d/.gitkep
!log/apache2/example.test.conf
!log/elasticsearch/.gitkeep
!log/mysql/.gitkeep
!log/redis/.gitkeep
